/App.class
/App2.class
/Aritmeticos.class
/CalcularTemperatura.class
/Condicoes.class
/CondicoesFrutas.class
/Console.class
/ConversaoNumeroString.class
/ConversaoStringNumero.class
/ConversaoTipoPrimitivoNumerico.class
/DesafioAritmetico.class
/DesafioCalculadora.class
/DesafioConvesao.class
/Escolha.class
/Estudos_Java.class
/Filme.class
/Import.class
/JogarDados.class
/Logicos.class
/NotacaoPonto.class
/OperadoresLogicos.class
/ScannerTeste.class
/TiposPrimitivos.class
/TiposStringEquals.class
/Variaveis.class
/Wrapper.class
/calculosMatematicos.class
/projeto1.class
